/ - if can? :manage, Game
/ = link_to(make a link on the username to their profile)
/= @users.count

- @users.each do |user|
  %ul.inline
    %li.frame
      - if user.avatar.thumb
        =image_tag (user.avatar.thumb), :class => "user_avatar"
    %li
      %h3
        = link_to user.username, user
        |
        Score:
        = user.score
    %hr
