%h2
  =image_tag @user.avatar.profile
  %br/
  =@user.username

%p
  -if current_user
    =link_to "Edit info", edit_user_path(@user)
    |
  -if can? :destroy, @user
    =link_to "Delete my profile", @user, method: :delete, data: { confirm: 'Are you sure?'}

%h3.bio
  About me:
=@user.bio

%br/
%br/
%table
  %th
    Gaming History:
    %tr
      %td Oponent
      %td Outcome
    %tr
      %td Computer
      %td Won (+1)
    %tr
      %td Sally77
      %td Drew (-)
    %tr
      %td Rudolph
      %td Lost (-1)
%br/
.challenge
  Challenge user