You are playing <username> / the computer.

X: You
O: <user> / computer

(the x and o should be scaled-down versions of the big images)

Your turn/ their turn.

You win/ lose/ draw.

You are number x on the leaderboard/ >sign up< to get on the leaderboard.

>Play again<